<h2 class="title">Liste des Suggestions</h2>

<!-- Bouton Ajouter suggestion -->
<button class="btn add-suggestion" [routerLink]="'/suggestions/form'">Ajouter une Suggestion</button>

<input
  type="text"
  class="search-input"
  placeholder="Rechercher une suggestion (titre ou catégorie)"
  [(ngModel)]="searchText"
/>

<div *ngFor="let suggestion of filteredSuggestions" class="suggestion-card">
  <div class="card-header">
    <h3>{{ suggestion.title }}</h3>
    <span class="badge category">{{ suggestion.category }}</span>
  </div>

  <p class="description">{{ suggestion.description }}</p>

  <button class="btn details" [routerLink]="['/suggestions', suggestion.id]">Voir Détails</button>
</div>